@import '../variables';
@import '../mixinis';

.eventsCards-cmp {
  .events-page__events-header {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 40px;
    align-items: center;
    @include mobile-l {
      flex-direction: column;
    }
    .headIntro-cmp {
      text-align: left !important;
    }
    .filter {
      .categories {
        padding: 5px;
        padding-right: 20px;
        background: $brand-dark;
        border-radius: 5px;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 24px;
    @include tablet-mobile {
      grid-template-columns: repeat(2, 400px);
    }
    @include mobile-l {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  .eventCard-cmp {
    background-color: white;
    overflow: hidden;
    border: 1px solid #cdcbcb;
    border-radius: 10px;
    .thumbnail {
      height: 240px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .content {
      padding: 20px;
      display: flex;
      gap: 18px;
      .date {
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        p {
          margin: 0;
          padding: 0;
        }
        .month {
          color: $brand-2;
        }
      }
      .event-details {
        .title {
          font-weight: 600;
          font-size: 1.3rem;
        }
        .desc {
          margin-top: 5px;
          color: $brand-2;
          font-weight: 700;
          font-size: 0.9rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
