@import '../variables';
@import '../mixinis';

.footer-cmp {
  background: $brand-dark;
  padding: 30px 0;
  margin-top: 2rem;

  .upper-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    h2 {
      font-size: 1.1rem;
      color: $brand-white;
      margin-bottom: 1.4rem;
    }
    .footer-link {
      font-size: 0.8rem;
      color: $brand-white;
      margin: 10px 0;
    }
    .flex {
      display: flex;
      align-items: center;
      gap: 12px;
      p {
        color: $brand-white;
      }
    }

    @include mobile-l {
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;
      justify-content: center;
      text-align: center;
      .flex {
        justify-content: center;
      }
    }
    .cta {
      font-size: 0.9rem;
      color: $brand-white;
      margin-bottom: 8px;
    }
    .button{
      background-color: #B9930B;
    }
    input {
      width: 100%;
      font-size: 1rem;
      background: $brand-white;
      border: none;
      color: black;
      padding: 5px;
      border-radius: 5px;
    }
  }
  .lower-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    @include mobile-l {
      flex-direction: column;
      gap: 24px;
      border-top: 1px solid $brand-white;
      padding-top: 24px;
    }
    .socials {
      display: flex;
      gap: 12px;
      .item {
        width: 24px;
        height: 24px;
        img {
          max-width: 100%;
        }
      }
    }
    p {
      color: $brand-2;
      font-size: 0.8rem;
      b {
        color: white;
      }
    }
    img {
      height: 40px;
    }
  }
}
