@import '../variables';
@import '../mixinis';

.headIntro-cmp {
  text-align: center;
  display: block;
  .head {
    font-size: 2rem;
    font-weight: bold;
  }
  .decoration {
    margin-top: -20px;
  }
  .decs {
    font-size: 16px;
    max-width: 700px;
    margin: 20px auto;
  }
}
