@import '../variables';
@import '../mixinis';

.mission-cmp {
  margin: 5rem 0;
  display: flex;
  gap: 24px;
  position: relative;
  align-items: center;
  @include mobile-l {
    flex-direction: column-reverse;
  }

  .left {
    .missionCard-cmp {
      display: flex;
      max-width: 500px;
      img {
        @include mobile-l {
          max-width: 100px;
          max-height: 100px;
        }
      }
      .details {
        margin-left: -20px;
        .title {
          color: $brand-1;
          font-size: 24px;
          line-height: 29px;
          font-weight: 700;
        }
        .desc {
          margin-left: 30px;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
        }
      }
      &:nth-child(even) {
        margin: 2rem 0;
        margin-left: 150px;
        margin-top: -1rem;
        @include mobile-l {
          margin: unset;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
  .right {
    position: absolute;
    right: -300px;
    @include mobile-l {
      position: relative;
      right: 0;
      img {
        height: 280px;
        width: 100%;
      }
      overflow: hidden;
    }
  }
}
