@import '../variables';
@import '../mixinis';

.programCards-cmp {
  .programCards-wrapper {
    display: flex;
    gap: 24px;
    margin: 5rem 0;
    justify-content: center;
    @include mobile-l {
      flex-direction: column;
      margin: unset;
    }
  }
  .program-card-cmp {
    position: relative;
    background: #ffffff;
    box-shadow: 3px 5px 31px 6px rgba(193, 193, 193, 0.25);
    border-radius: 15px;
    width: 100%;
    // padding: 20px;
    max-width: 350px;
    @include mobile-l {
      margin: auto;
      margin-top: 3rem;
    }
    .program-img{
      img{
        max-width: 350px;
      }
      
    }
    .title {
      margin-top: 10px;
      padding: 0 10px;
      margin-bottom: 0px;
    }
    .number {
      width: 100px;
      height: 30px;
      background: $brand-1;
      border-radius: 0px;
      position: absolute;
      left: 0%;
      top: 0px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      p {
        color: white;
      }
    }
    .desc {
      padding: 0 10px;
      margin-bottom: 10px;
    }
    .link {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-start;
    }
    a {
      padding: 0 10px;
      color: $brand-dark;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
