.trainer-title{
    margin: 40px 20px;
    // line-height: 0.5;
    h1{
        font-size: x-large;
    font-weight: 700;
    }
   
    color: #061e38;
}
.singletrainer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.trainer-image{
    img{
   
    margin: 10px 20px;
    width: 400px;
    height: 320px;
    background-size: cover;
    border-radius: 10px;
    }
}
.trainer-info{
    
    h2{
        color: #17375b;
        font-size: x-large;
        font-weight: 700;
    }
    p{
        color:#113255; 
        font-weight: 700;
    }
    .techup-skills{
        p{
            color: #627DA0;  
        }
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }
}
.trainer-paragraph{
    color: #09284a;
    margin: 10px 20px;
    h3{
        font-size: larger;
    font-weight: 700;
    }
}

    
    

    


