.event{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    margin: 25px;
 
}
.events-header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    h1{
        font-size: 24px;
    }
}