.form-login{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    
    
}
.login-container{
    min-width: 38vw;
    border: 2px solid rgba($color: #f5f5f5, $alpha: 1.0);
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 24px 18px;

    h1{
        color: rgba(0, 0, 0, 0.65);
        font-size: 28px;
        text-align: center;
    }
    p{
        color: rgba(0, 0, 0, 0.45);
        padding: 12px 0px;
        text-align: center;
    }
    input{
    font-size: 13px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    }
    form{
        padding: 12px 0px;
    }

    label{
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
    }
 
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    padding: 12px 0px;


    .bottom{
        padding-top: 48px;
    color: #000 ;
    font-size: 14px;
    span{
        color: $brand-1;
    }
}
}
.pass-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button{
  margin-top: 20px;
  background: $brand-1;
  color: white;
  padding: 8px 20px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 8px;
  border: none;
    
}
