@import "../variables";
@import "../mixinis";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;1,100;1,200&family=Lora:ital,wght@0,500;1,400;1,500;1,600&family=Poppins:wght@100;200;400;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,400&family=Varela&family=Varela+Round&display=swap');

.communityPage {
  .hero-banner {
    height: 60vh;
    position: relative;
    margin-bottom: 50px;
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      background: black;
      position: absolute;
      z-index: 2;
      opacity: 0.8;
    }
    @include mobile-l {
      height: 50vh;
      margin-bottom: 40px;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .content {
      position: absolute;
      z-index: 3;
      width: 100%;
      top: 10%;
      height: 100%;
      padding-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .content-container {
        h1 {
          color: white;
          font-weight: 600;
          @include fontSize(56px);
          @include mobile-l {
            font-size: 2rem;
          }
        }
        p {
          font-weight: 400;
          font-size: 22px;
          line-height: 28px;
          color: $brand-2;
          max-width: 500px;
          margin: 20px 0;
          margin-bottom: 40px;
          @include mobile-l {
            font-size: 0.9rem;
          }
        }
      }

      .white-decoration {
        margin-top: auto;
        margin-bottom: 20px;
      }
    }
    .colored-decorations {
      position: absolute;
      width: 100%;
      bottom: 2%;
      z-index: 7;
    }
  }
  .events-cards-container {
    padding-top: 3rem !important;
    @include mobile-l {
      padding-top: 2rem !important;
    }
  }

  // Switch toggle button css
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .community-card {
 
    background-color: whitesmoke;
     margin: 0 auto;
    width: 33vw;
 
    padding: 15px;
     font-family: 'Poppins', sans-serif;
  }
  .community-card ul {
     overflow: scroll;
     overflow-x: hidden;
      height: 200px;
    list-style: none;

    // display: flex;
  }
  .community-card ul li {
    list-style: none;
    display: flex;

    align-items: center;
    gap: 1rem;
    color:$brand-3;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
 
  }
  .skills-card{
      width: 30vw;
    padding: 16px;
   background: #FFFFFF;
   box-shadow: 0px 3.51768px 3.51768px rgba(0, 0, 0, 0.25);
   border-radius: 6.15595px;
   margin-top: 20px;



  }
    .cohort-card{
      width: 30vw;
    padding: 16px;
   background: #FFFFFF;
   box-shadow: 0px 3.51768px 3.51768px rgba(0, 0, 0, 0.25);
   border-radius: 6.15595px;
   margin-top: 20px;
   ul{
    height: 110px;
   }


  }
  .left-div {
   
   
  .holder1{
    width: 60vw;
    height: 200px;
    background: rgba(193, 193, 193, 0.1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
display: flex;
flex-direction: row;
gap: 1rem;
margin-bottom: 30px;
align-items: center;
margin-right: 25px;





  .photo{
  margin-left: 15px;
   width: 293.82px;
   height: 169px;
    background-image: url('/public/assets/website/images/img1.jpg');
    object-fit: cover;
    background-size: cover;
    border-radius: 7px;
 
  }
 .photo1{
  margin-left: 15px;
   width: 293.82px;
   height: 169px;
    background-image: url('/public/assets/website/images/girl.jpg');
    object-fit: cover;
    background-size: cover;
    border-radius: 7px;

  }
 .photo2{
  margin-left: 15px;
   width: 293.82px;
   height: 169px;
    background-image: url('/public/assets/website/images/muzehe.jpg');
 
   object-fit:cover;
   background-size:contain;
   background-repeat:inherit;
   
    border-radius: 7px;

  }

.decription{
  h4{
    font-family: 'Poppins', sans-serif;
   color:#373C36;
  
    line-height: 36px;
    font-weight: 520;
  
  }
  h5{
   font-family: 'Poppins', sans-serif; 
   color: $brand-3; 
   font-weight: 500;
  }
}
.lbl{
  display: flex;
  justify-content:start;
  align-items: center;
  gap: 0.4rem;
  font-size: 20px;
 font-family: 'Poppins', sans-serif;
  color: $brand-3;


}
 

}}
.middle{
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-size: cover;
    width: 100%;
    position: relative;
   background-image: url('/public/assets/website/images/aboutDarkBg.svg');

margin-top: 80px;
padding: 20px;
padding-top: 50px;
    .words{
      width: 50vw;
      padding: 20px;
      margin: auto;
      span{
        font-size: 25px;
         font-family: 'Poppins', sans-serif;
         line-height: 0;
         font-weight: 400;
      }
      h2{
         font-family: 'Poppins', sans-serif;
         font-weight: 500;
        
      }
      p{
        line-height: 30px;
         font-family: 'Poppins', sans-serif;
         color: #373C36;
         margin-top: 70px;
      }
      label{
        display: flex;
         font-family: 'Poppins', sans-serif;
        align-items: center;
        gap: 0.5rem;
        color: #373C36;
        margin-top: 70px;
      }
    }
    .left{
     

width: 31vw;     

align-items: center;
background-color: #FFFFFF;
border-radius: 7px;
 font-family: 'Poppins', sans-serif;
 font-weight: 500;
 margin-left: 100px;

 

h2{
  margin: 10px;
  font-size: 30px;
  font-weight: 500;
}
      .holder2{
        margin: 20px;
      width: 28vw;
    height: 150px;
    background: white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
display: flex;
flex-direction: row;
gap: 1rem;
margin-bottom: 20px;
align-items: center;
margin-right: 25px;

.photo1{
   margin-left: 15px;
   width: 150px;
   height: 100px;
    background-image: url('/public/assets/website/images/img1.jpg');
    object-fit: cover;
    background-size: cover;
    border-radius: 7px;
  
}
.decription{
  h4{
    font-weight: 500;
  }
  h5{
    font-weight: 500;
    color: $brand-3;
  }
}
      }
    }
}
 .bottom{
     display: grid;
    grid-template-columns: repeat(2, 1fr);  
    margin-top: 80px;
padding: 20px;
.bottom-words{
width: 45vw;
 
      padding: 20px;
      margin: auto;
      span{
        font-size: 25px;
         font-family: 'Poppins', sans-serif;
         line-height: 0;
         font-weight: 400;
      }
      h2{
         font-family: 'Poppins', sans-serif;
         font-weight: 500;
        
      }
      p{
        line-height: 30px;
         font-family: 'Poppins', sans-serif;
         color: #373C36;
         margin-top: 70px;
      }
      label{
        display: flex;
         font-family: 'Poppins', sans-serif;
        align-items: center;
        gap: 0.5rem;
        color: #373C36;
        margin-top: 50px;
      }
}
.partners{
  margin-top: 90px;
}
 }


}
