@import '../variables';
@import '../mixinis';

.registerPage {
  .registerPage-container {
    margin-top: 6rem;
    margin-bottom: 4rem;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    gap: 12px;
    overflow: hidden;
    background: linear-gradient(
      180deg,
      rgba(6, 25, 53, 0) 0%,
      rgba(6, 25, 53, 0) 76.04%,
      rgba(6, 25, 53, 0.0243615) 86.87%,
      rgba(6, 25, 53, 0.21966) 98.54%
    );

    .left-part {
      width: 40%;
      background: url('/assets/website/images/heroBanner.png') no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 8rem 40px;
      position: relative;
      @include mobile-l{
            display: none;
          }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.4;
        position: absolute;
        top: 0;
      }
      h2 {
        color: white;
        font-weight: 600;
        font-size: 48px;
      }
      p {
        color: white;
        font-weight: 400;
        font-size: 15px;
      }
    }
    .right {
      width: 60%;
      padding: 30px;
      @include mobile-l{
        width: 100%;
      }
      .intro {
        h2{
          font-size:28px;
        }
        p {
          font-weight: 600;
          font-size: 14px;
        }
      }
      .form {
        width: 100%;
        .input {
          width: 100%;
          input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin: 1rem 0;
            border: 1px solid $brand-2;
          }
        }
        textarea {
          width: 100%;
          border-radius: 5px;
          margin: 1rem 0;
          border: 1px solid $brand-2;
          height: 150px;
          padding: 10px;
        }
        .button {
          padding: 10px 30px;
          background: $brand-dark;
          width: 100%;
          border-radius: 5px;
          color: $brand-white;
          font-size: 20px;
        }
      }
      .form-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        color: black;
        span {
          margin-left: 12px;
        }
        .link {
          color: $brand-1;
        }
      }
    }
  }
}
