@function calculateRem($size) {
  $remSize: calc($size / 14px);
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin lineHeight($size) {
  line-height: $size;
  line-height: calculateRem($size);
}

/* Media Query */

$desktop-large: 1200px;
$tablet-l: 1025px;
$tablet: 1024px;
$mobile-large: 768px;
$mobile-small: 480px;
$mobile-extra-small: 375px;

@mixin desktop-l {
  @media (min-width: 1441px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) and (max-width: #{$desktop-large}) {
    @content;
  }
}

@mixin only-desktop {
  @media (min-width: #{$tablet-l}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 769px) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile-l {
  @media (max-width: #{$mobile-large}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-small}) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: #{$mobile-extra-small}) {
    @content;
  }
}

@mixin fitImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
