$brand-1: #B9930B;
$brand-blue: #2faad0;
$brand-2: #87949f;
$brand-3: #808284;
$brand-dark: #1d1d1d;
$brand-white: #fbfbfe;
$back:#F2F8FF;
$font-normal: 'Alegreya', serif;
$font-fancy: 'Architects Daughter', cursive;

