.company-content {
  margin: 6rem 17.5rem;
  width: 100%;
//   background-color: red;
}
.company-content1 {
    background-color: blue;
    margin: 6rem 17.5rem;
    width: 100%;
}
.companies-container{
    // margin-left: 350px;
    background-color:white;
    border-radius: 16px;
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 15px;
    width: 100%;
    
  .holder-info{
       overflow-y: scroll;
       height: 48vh;
  }
    h2{
      // color: #18385A;
      padding-top: 20px;
      padding-left: 1px;
      // margin: 20px 2px;
      line-height: 0.5;
      color: #29496c;
      // margin-bottom: 1rem;
      margin-left: 2rem;
    }
    .info-company{
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #0b2137;
      font-size: 14px;
     
      h1{
        color: #010c18;
        line-height: 0;
      }
      p{
        line-height: 1;
      }
      
      .logo-co{
      background-color:#010f1f;
      padding: 0 10px;
      border-radius: 100%;
      width: 120px;
      height:80px;
      color:white;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    
      }
    }
}
.company-sider{
  background-color: #fff;
        height: 100vh;
        padding: 5px 0px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        width: 21%;
        margin: 15px 20px;

        ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            position: relative;
            .companies-link{
              margin: 10px 0;
            }
            li{
                display: flex;
                align-items: center;
                width: 100%;
                cursor: pointer;
                color: #627DA0;
                font-size: 16px;
                padding: 15px  15px;
                span{
                    margin: 0px 10px;
                }
                &:hover{
                    background-color: #F2F8FF;
                    width: 177px;
                    border-radius: 10px 0 0 10px;
                    color: #373C36;
                    
                }
            } 
        }
}
.company-flex{
  display: flex;
  flex-direction: row;
  width: 100%;
  .outlet{
    background-color: #fff;
    width: 73%;
    color: #000;
    border-radius: 16px;
    margin: 15px 20px;
  }
}

