.company-content {
  margin: 6rem 17.5rem;
  width: 100%;
//   background-color: red;
}
.company-content1 {
    background-color: blue;
    margin: 6rem 17.5rem;
    width: 100%;
}
.companies-container{
    margin-left: 350px;
    background-color: aqua;
}
