@import "./variables";
@import "./mixinis";

.events-content {
  margin-top: 6rem;
  margin-left: 14rem;
  width: 100vw;
  @include mobile-l{
    margin-top: 6rem;
    margin-left: 0;
  }
  @include tablet{
    margin-top: 6rem;
    margin-left: 0;
  }
}
.event-cards {
  display: flex;
  flex-direction: row;
  width: 98%;
  @include mobile-l{
    display: grid;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  @include tablet{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }
  
}
.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-white;
  padding: 20px 20px;
  margin: 0 20px;
  // width: 228px;
  width: 100%;
  border-radius: 16px;
  height: 100%;
  @include mobile-l{
    width: 100%;
    margin: 5px auto;
  }
  @include tablet{
    margin: 0 auto;
  }
 

  .allevents {
    background-color: #2f85e1;
  }
  .new-events {
    background-color: #b72727;
  }
  .hackathons {
    background-color: #096b3b;
  }
  .competitons {
    background-color: #b9930b;
  }
  .card-details {
    line-height: 0.3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    p {
      color: $brand-2;
      @include mobile-l{
        font-size: 12px;
      }

    }
    h1 {
      color: #18385a;
      font-weight: bold;
      font-size: 40px;
      @include mobile-l{
        font-size: 30px;
      }
    }
  }
}
.card-icon {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white !important;
  font-size: 20px;
  @include mobile-l{
    width: 40px;
    height: 40px;
  }
}

.events-container {
  margin: 0 20px;
  width: 55%;
  @include mobile-l{
    width: 90%;
    margin: 0 auto;
  }
  @include tablet{
    width: 90%;
    margin: 0 auto;
  }
 
}
.events-header {
  position: relative;
  color: #18385a;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 5px;

  p {
    font-size: 14px;
    @include mobile-l{
      font-size: 12px;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .titles {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 20px;
    left: 30%;
    @include mobile-l{
      display: none;
      // width: 80%;
      // position: absolute;
      // display: flex;
      // justify-content: flex-end;
      // top: 20px;
      // left: 15%;
    }
    p {
      margin: 0 15px;
      font-size: 13px;
      @include mobile-l{
        font-size: 11px;
        margin: 0 10px;
      }
    }
  }
}
.events-table {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    th{
      padding: 10px;
      text-align: left;
      @include mobile-l{
        font-size: 14px;
      }
    }
    td{
      padding: 10px;
      @include mobile-l{
        font-size: 12px;
      }
    }
    .table-headers{
        color: #18385a;
        font-weight: bold;
    }
    .event-item{
      color: #18385a;
    }
   .scrolable-table{
    background-color: #fff;
    width: 100%;
   }
   .actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    #delete-icon{
      background-color: red;
      color: white;
      font-size: 24px;
      cursor: pointer;
      padding: 5px 0;
      border-radius: 15px;
    }
    #pen{
      cursor: pointer;
      color: #2F85E1;
    }
   } 
}
.events-section{
    display: flex;
    flex-direction: row;
    @include mobile-l{
      flex-direction: column;
    }
    @include tablet{
      flex-direction: column;
    }
   }

.add-event{
  width: 35%;
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 70px 0;
  @include mobile-l{
    width: 90%;
    margin: 20px auto;
  }
  @include tablet{
    width: 90%;
    margin: 20px auto;
  }

  .add-event-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #18385a;
  }
  form{
    display: flex;
    flex-direction: column;
    @include mobile-l{
      font-size: 14px;
    }
    input, select{
      margin: 10px 0;
      height: 40px;
      background-color: #F2F2F2;
      border: none;
      border-radius: 10px;
      padding: 0 10px;
    }
    .add-event-error{
      border: 1px solid red;
      select{
        border: 1px solid red;
      }
    }
   
    .dates{
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 10px;
    }
    .start-date{
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    .end-date{
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    input[type="file"]{
      padding: 10px 10px;
    }
    textarea{
      padding: 5px 10px;
      background-color: #f2f2f2;
      margin-bottom: 5px;
      border: none;
      border-radius: 10px;
      height: 80px;
      
    }
    button{
      background-color: #2F85E1;
      border: none;
      color: #fff;
      font-size: 12px;
      height: 44px;
      border-radius: 10px;
    }
  }
}
