*{
    color: #373C36;
}
.header{
    width: 100dvw;
    height: 100px;
    background-color: #F2F8FF;
    padding: 20px 50px 30px 300px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}
.header .profile{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.header .profile span p{
    margin-top: -16px;
}
.header .profile img{
    width: 60px;
    border-radius: 10px;
}
.chat{
    /* background-color: azure; */
    display: flex;
    gap: 15px;
}
.chat .icons{
    border: 1px solid #373C36;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.chat .icon{
    position: absolute;
    width: 20px;
    height: 20px;
}
.chat .icons  p{
    position: absolute;
    top: 0;
    background-color: rgb(237, 74, 74);
    width: 30px;
    height: 30px;
    margin-left: 55px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F2F8FF;
    font-size: 10px;
    font-weight: 800;
}
.chat .icons  p.sms{
    background-color: #096B3B;
}
.chat .icons  p.bell{
    background-color: #B72727;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}
.message h1{
    font-size: 1.6rem;
}
.message p{
    margin-top: -15px;
    font-size: 0.9rem;
    /* color: #096B3B; */
}
.message p{
    margin-top: -15px;
}
.search{
    /* background-color: antiquewhite; */
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search input{
    /* position: absolute; */
    background-color: #DDE8F4;
    width: 100%;
    padding: 23px 30px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.search .search_icon{
    position: absolute;
    z-index: 100px;
    margin-right: 20px;
}