
.header{
    width: 100vw;
    height: 90px;
    background-color: #F2F8FF;
    padding: 20px 50px 30px 300px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.header .profile{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.header .profile span p{
    margin-top: -16px;
}
.header .profile img{
    width: 60px;
    border-radius: 10px;
}
.chat{
    /* background-color: azure; */
    display: flex;
    gap: 15px;
}
.chat .icons{
    border: 1px solid #373C36;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.chat .icon{
    position: absolute;
    width: 20px;
    height: 20px;
}
.chat .icons  p{
    position: absolute;
    top: 0;
    background-color: rgb(237, 74, 74);
    width: 30px;
    height: 30px;
    margin-left: 55px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F2F8FF;
    font-size: 10px;
    font-weight: 800;
}
.chat .icons  p.sms{
    background-color: #096B3B;
}
.chat .icons  p.bell{
    background-color: #B72727;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}
.message h1{
    font-size: 1.6rem;
}
.message p{
    margin-top: -15px;
    font-size: 0.9rem;
    /* color: #096B3B; */
}
.message p{
    margin-top: -15px;
}
.search{
    /* background-color: antiquewhite; */
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search input{
    /* position: absolute; */
    background-color: #DDE8F4;
    width: 100%;
    padding: 23px 30px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.search .search_icon{
    position: absolute;
    z-index: 100px;
    margin-right: 20px;
}
.notifications-dropdown{
    height: 100%;
    
    
    .notifications-list{
        position: absolute;
        top: 100%;
        right: 20%;
        z-index: 9999;
        background-color: white;
        height: 100%;
        max-width: 350px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        height: 300px;
        
        
        .notif-header{
            width: 100%;
            background-color: #B9930B;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;
            height: 50px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            h4{
                color: white;
            }
            button{
                background-color: white;
                color: #373C36;
                border: none;
                font-size: 15px;
                border-radius: 5px;
                cursor: pointer;
            }

        }
        .notification-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px;
            border-bottom: 1px solid #18385a;
            span{
                color: #18385a;
                font-size: 16px;
                
            }
            .notif-icon{
                font-size: 24px;
                cursor: pointer;
                color: red;
            }
        }
    }
    .no-notifications{
        color: #18385a;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.off-screen{
    display: none;
}
.profile-dropdown{
    position: absolute;
    top: 100%;
    right: 30px;
    z-index: 9999;
    background-color: #fff;
    height: 230px;
    width: 230px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    

        .profile-header{
            background-color: #373C36;
            color: white;
            padding: 1px 10px;
            width: 100%;
            height: 50px;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            h1{
                font-size: 20px;
                text-align: center;
            }
        }
        .profile-actions{
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            
                p{
                    cursor: pointer;
                    // padding: 8px 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: center;
                    

                }

            }
        }
    