@import "./mixinis";
@import "./variables";

.wrapper{
    background-color: #F2F8FF;
    width: 100%;
    height: 100%;
    display: flex;
    @include mobile-l{
        width: 100%;
        flex-direction: column;
    }
}
.dashboard-home{
    margin-top: 6rem;
    margin-left: 15rem;
    width: 100%;
    overflow-x: hidden;
    @include mobile-l{
        margin-top: 5rem;
        margin-left: 0rem;
        width: 100%;
    }
    @include tablet{
         margin-top: 6rem;
        margin-left: 0rem;
        width: 100%;
    }
}
.chard-container{
    width: 90%;
    height: 228px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #fff;
    margin: 20px 18px;
    @include mobile-l{
        width: 90%;
        margin: 18px auto;
    }
    @include tablet{
        width: 90%;
        margin: 10px auto;
    }
}
.flex-container{
    display: flex;
    width: 98%;
    align-items: flex-start;
    @include mobile-l{
        flex-direction: column;
        width: 100%;
    }
    @include tablet{
        flex-direction: column;
        width: 100%;
    }
    aside{
        // width: 63vw;
        width: 80%;
        @include mobile-l{
            width: 100%;
        }
        @include tablet{
            width: 100%;
        }
    }
}
.home-actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 15px;
    width: 100%;
    @include mobile-l{
        flex-direction: column;
        margin-left: 0px;  
    }
    @include tablet{
        width: 100%;
        justify-content: center;
        margin-left: 0;

    }
    .users-container{
        background-color: #fff;
        color: #18385A;
        width: 40%;
        border-radius: 15px;
        padding: 5px 10px;
        @include mobile-l{
            width: 90%;
            margin: 0 auto; 
        }
        @include tablet{
            width: 45%;
        }
        span{
                font-weight: bold;
            }
        .users{
            margin: 15px 0px;
            width: 100%;
        }
        .user-details{
            margin-left: 15px;
            display: flex;
            width: 80%;
            position: relative;
            justify-content: space-between;
            align-items: center;
            img{
                margin: 0 20px;
                cursor: pointer;
                width: 18px;
                height: 18px;
                position: absolute;
                right: 0;
            }
            h4{
                font-size: 14px;
            }
            p{
                font-size: 14px;
            }
        }
        .user{
            display: flex;
            align-items: center;
            color: #18385A;
            margin: 10px 0;
            width: 100%;
        }
        .users-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            h4,p{
                font-size: 14px;
            }
        }
        button{
            width: 100%;
            color: #fff;
            border: none;
            background-color: #B9930B;
            border-radius: 8px;
            height: 34px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 15px;
            cursor: pointer;
        }
        .user-profile{
            width: 50px;
            border-radius: 30px;
            height: 50px;
            
        }
    }
    .messages-container{
        background-color: #fff;
        width: 50%;
        border-radius: 15px;
        padding: 10px 20px;
        height: 100%;
      
        .messages-list{
            height: 300px;
            overflow-y:scroll ;
           
        }
        @include mobile-l{
            width: 90%;
            margin: 0 auto;
        }
        @include tablet{
            width: 45%;
        }
        h3, p{
                color: #18385A;
                @include mobile-l{
                    font-size: 15px;
                }

            }
        
        .messages-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            span{
                font-weight: bold;
            }
            p{
                @include mobile-l{
                    font-size: 12px;
                }
            }

        }

        .message-dash{
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid #A3C0E2;
            img{
                width: 50px;
                height: 50px;
                border-radius: 30px;
                @include mobile-l{
                    width: 40px;
                    height: 40px;
                }
            }
            .message-details{
                margin: 10px 25px;
                width: 70%;
             .icoo{
                margin-left: 320px;
              
             }
                
                h4{
                    color: #18385A;
                    font-weight: 800;
                    cursor: pointer;
                    @include mobile-l{
                        font-size: 14px;
                    }
                }
                p{
                    color: #778CA1;
                    cursor: pointer;
                    @include mobile-l{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.recent-activities{
    width: 21%;
    margin-top: 20px;
    margin-left: -30px;
    color: #18385A;
    @include mobile-l{
        width: 90%;
        margin: 0 auto;
        font-size: 15px;
        margin-top: 10px;
    }
    @include tablet{
        width: 90%;
        margin: 0 auto;
    }
    .activities-list{
        @include tablet{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
    .activity{
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 5px 10px;
        margin: 10px 0;
        .activity-details{
            margin: 0 15px;
        }
    }
}
.name-icoo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.close-icoo{
    color: red;
    font-size: 20px;
    cursor: pointer;
  
}
.model-holder{
     position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
 overflow: auto;
 
  background-color: rgba(0, 0, 0, 0.5); /* RGBA color with 50% opacity */
  backdrop-filter: blur(2px); /* CSS filter to apply a 10px blur effect */
}
.modal{

 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: #fff; /* background color for the modal */
  padding: 20px; 
  overflow: auto;   
}