
.AllPatners
{
    background-color: white;
    border-radius: 16px;
}
.partner{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
  .image {
    border-right: 4px solid #627DA0;
    padding-right: 50px;
    width: 100px;

  }
  span{
    line-height: 8px;
    h1{
        color: #627DA0;
        font-weight: 500;
    }
    p{
        font-size: 14px;
        label{
            color: #132E52;
            padding-left: 15px;
        }
        
       
        }
    }
  button{
    background-color: transparent;
    border: 1px solid #DDE8F4;
    border-radius: 11px;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .icoo{
        color: #627DA0;;
       
    }
    
}}
