.payments-content{
    margin-top: 5rem;
    margin-left: 16rem;
    width: 100%;
    @include mobile-l{
        margin-top: 5rem ;
        margin-left: 1rem;
        width: 90%;

    }
    @include tablet{
        margin-left: 3rem;
    }

    .pymnt-cards{
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: 95%;
        @include mobile-l{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .pymnt-card{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            border-radius: 12px;
            padding: 10px 15px;
            color: #18385A;
            // width: 250px;
            width: 100%;
            @include mobile-l{
                width: 100%;
            }
            .dollar-icon{
                font-size: 24px;
            }

            h1{
              color: #18385A;
              font-weight: bold;
              font-size: 24px;
            }
        }
    }


    .invoices{
        background-color: white;
        margin-top: 15px;
        border-radius: 12px;
        padding: 15px;
        width: 95%;
        .inv-headers{
            display: flex;
            justify-content: space-between;
            .inv-filters{
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #F2F8FF;
                border-radius: 20px;
                color: #899DB8;
                height: 30px;
                .active-inv{
                    background-color: #2F85E1;
                    color: white;
                    border-radius: 15px;
                    padding: 5px 15px;
                }
                li{
                    cursor: pointer;
                    margin: 0 10px;
                    font-size: 14px;
                    padding: 5px 5px;
                }
            }

        }
        table{
            width: 100%;
            th{
                color: #899DB8;
                text-align: left;
                font-size: 14px;
            }
            .inv-header-row{
                border-bottom: 0.5px solid #899DB8;
            }
            .inv-profile{
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }
            .td{
                display: flex;
                padding: 5px 0;
                align-items: center;
                span{
                    margin-left: 15px;
                }
                font-size: 13px;
            }
            td{
                font-size: 13px;
                color: #18385A;
            }
            .status{
                color: #096B3B;
                border: 1px solid #096B3B;
                border-radius: 5px;
                align-items: center;
                display: flex;
                justify-content: center;
                width: 60%;
            }
        }
    }
   
}