.lbl1{
    color: #18385A;
    font-size: 18px;
    font-weight: 500;
    line-height: 3;
}
.lbl2{
   color: #18385A;
    font-size: 18px;
   margin-left: 10px;
   line-height: 3;
}
.h2{
    font-weight: 500;
}