// .admin-headers{
//     line-height: 0.5;
//     color:  #18385A;
//     margin: 30px 15px;
// }
// .admin-names{
//     display: flex;
//     flex-direction: row;
// }
.trainer-info{
   display: flex;
   flex-direction: row;
   width: 70%;
}



.admin-members{
    margin: 5px 15px;

    img{
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }
    .admin-item{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0;
        color: #18385A;
        .admin-info-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            align-items: center;
            margin-left: 20px;
        }
        span{
            margin-top: 15px;
            color: red;
        }
        .admin-names{
            display: flex;
            flex-direction: column;
            line-height: 0.1;
            p{
                margin-top: -1px;
            }
        }

        .eye-icon{
            color: #2F85E1;
            border: 1px solid #DDE8F4;
            border-radius: 11px;
            padding: 10px 10px;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
        }
    }
}
