.alumn-holder{
    display: flex;
    align-items: center;
   padding: 0px 20px;
   margin-top: 10px;

   .infoo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 20px;

   }
    img{
        width: 75px;
        height: 66px;
        border-radius: 15px;
        margin-left: 20px;
    }
    h4{
        color: #18385A;
        font-weight: 500;
        line-height: 5px;
        
        
    }
   
    p{
      color: #627DA0;
      line-height: 6px;
      font-weight: 500;
    }
    label{
      color: #18385A; 
      font-weight: 600; 
    }
    button{
       background-color: white;
       border-radius: 11px;
       display: flex;
       align-items: center;
       justify-content: center; 
       border: 1px solid #18385A;
       width: 35px;
       height: 35px;
       cursor: pointer;
      
       .icoo{
        color: #18385A; 
        font-size: 18px;
       }
    }
}