*{
    transition: ease-in-out 0.5s;
}
body{
  overflow-x: hidden;
}
.custom-loader img{
 animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping {
  75%, 100% {
    transform: scale(90%);
    opacity: 0.8;
  }
}



